/* *{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

.container {
    margin-top: 100px;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
}

.bg {
    background: url(./home-img.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.row-container {
    background-color: whitesmoke;
    border: 0.2px solid grey;
    border-radius: 20px;
    margin-top: 20vh;
    margin-bottom: 20vh;
    padding: 30px;
    box-shadow: 0px 2px 10px 5px gray;
}

label,
.form-check-lable,
h3 {
    color: black;
    text-shadow: 3px 3px 10px black;
}

.btn-outline-success {
    font-weight: bold;
    box-shadow: 0px 0px 5px 1px green;
}

.btn-outline-danger {
    font-weight: bold;
    box-shadow: 0px 0px 5px 1px red;
}

.marginLink {
    margin-left: 4em;
}

.navbar li a {
    color: black !important;
}

.navbar li a:hover {
    color: red !important
}